In [1]:
# DataFrame 만드는 방법
import pandas as pd

df = pd.DataFrame()
df["Name"] = ["jacky", "Steven", "George"]
df["Age"] = [38, 25, 23]
df["Driver"] = [True, False, True]

df

     Name  Age  Driver
0   jacky   38    True
1  Steven   25   False
2  George   23    True

In [2]:
# python dictionary를 사용하여 DataFrame 만드는 방법
data = {
    "Name":["Jacky", "Steven", "George"],
    "Age": [38, 25, 23],
    "Driver": [True, False, True]
}

df = pd.DataFrame(data)
df

     Name  Age  Driver
0   Jacky   38    True
1  Steven   25   False
2  George   23    True