In [4]:
# DataFrame 만드는 방법
import pandas as pd

df = pd.DataFrame()
df["Name"] = ["jacky", "Steven", "George"]
df["Age"] = [38, 25, 23]
df["Driver"] = [True, False, True]

df

     Name  Age  Driver
0   jacky   38    True
1  Steven   25   False
2  George   23    True

In [5]:
# 각 Series는 index를 포함하고 있음
df["Age"]

0    38
1    25
2    23
Name: Age, dtype: int64

In [7]:
print(type(df))
print(type(df["Age"]))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [8]:
# dataframe의 인덱스에 접근하기
df.index

RangeIndex(start=0, stop=3, step=1)

In [11]:
df.index.name = "index"

In [12]:
df

         Name  Age  Driver
index
0       jacky   38    True
1      Steven   25   False
2      George   23    True

In [13]:
# index 재설정
# 원래 있었던 index열이 새로운 column으로 들어오고, 새로운 index열이 생김
df.reset_index()

   index    Name  Age  Driver
0      0   jacky   38    True
1      1  Steven   25   False
2      2  George   23    True

## DataFrame 인덱싱
- 자료구조에서 하나의 값에 접근하는 것을 인덱싱이라고 합니다.
- Pandas

In [16]:
# python dictionary를 사용하여 DataFrame 만드는 방법
data = {
    "Name":["Jacky", "Steven", "George", "Harry"],
    "Age": [38, 25, 23, 10],
    "Driver": [True, False, True, True]
}

df = pd.DataFrame(data)
df.index = ["a", "b", "c", "d"]
df.index.name = "index"

df

         Name  Age  Driver
index
a       Jacky   38    True
b      Steven   25   False
c      George   23    True
d       Harry   10    True